@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: rgba(31, 41, 55, 0.5); 
    border-radius: 8px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(75, 85, 99, 0.8); 
    border-radius: 8px;
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 114, 128, 0.8); 
  }
}
